[user]
    email = harrybrown98@gmail.com
    name = Harry Brown

[alias]
    graph = log                 --all --graph --oneline --abbrev-commit --decorate
    top   = !git --no-pager log --all --graph --oneline --abbrev-commit --decorate -n
    head  = !git --no-pager log --all --graph -n 25 --date='format:%m-%d-%y' --pretty='tformat:%C(auto)%h%Creset %Cblue(%cd)%Creset%C(auto)%d%Creset %s'
    stat  = !git --no-pager diff --stat
    cho   = checkout
    amend = commit --amend --no-edit

[core]
    editor = 'vim'
	excludesFile = /home/harry/.config/.gitignore

[credential]
    helper = cache --timeout=7200
