- name: Install
  become: true
  # when: not postman_exec.stat.exists
  ansible.builtin.unarchive:
    remote_src: true
    # For downloads, see <https://www.postman.com/downloads/>
    src: https://dl.pstmn.io/download/latest/linux_64
    dest: /opt # This will unpack everything into /opt/Postman/...
    creates: /opt/Postman/
    mode: '0755'
    owner: root
    group: root
  register: postman_dst

- name: Desktop Entry
  when: postman_dst.changed
  become: false
  ansible.builtin.template:
    src: Postman.desktop.jinja
    dest: '{{ ansible_facts.user_dir }}/.local/share/applications/Postman.desktop'
    owner: '{{ ansible_facts.user_id }}'
    group: '{{ ansible_facts.user_gid }}'
    mode: '0664'
    validate: desktop-file-validate %s
