- name: Get Home
  ansible.builtin.set_fact:
    user_home: 'lookup("env", "HOME")'

- name: Check if tree-sitter-cli is installed
  stat:
    path: '/home/{{ user_home }}/.config/cargo/bin/tree-sitter'
  register: tree_sitter_bin

- name: Install
  when: not tree_sitter_bin.stat.exists
  block:
    - name: Dependancies
      become: true
      ansible.builtin.package:
        name:
          - libclang-dev
    - name: Compile
      ansible.builtin.command:
        cmd: cargo install tree-sitter-cli
        creates: '/home/{{ user_home }}/.config/cargo/bin/tree-sitter'
