- name: Setup "avrora" Laptop
  hosts: localhost
  become: false
  become_method: ansible.builtin.sudo

  roles:
    - backup
    - paru
    - role: nerdfont
      font: RobotoMono
      version: 3.4.0

  tasks:
    - name: Packages
      become: true
      ansible.builtin.package:
        name:
          # Fonts and font packages to make chromium emojis work.
          - noto-fonts
          - noto-fonts-emoji
          - noto-fonts-cjk
          - noto-fonts-extra
          - ttf-roboto-mono-nerd # I like RobotoMono Nerd Font
          - ttf-lilex-nerd

          # Tools
          - git
          - alacritty
          - neovim
          - bash-completion
          - unzip
          - rsync
          - rustup     # rust
          - nvm        # Node Version Manager
          - fzf
          - fx         # process json in a tui
          - git-delta  # does file diffs
          - jq         # scriptable json processing
          - tokei      # count lines of code
          - kubectl
          - k9s
          - gnu-netcat # nc command
          - eza # ls drop-in

          # Desktop
          - uwsm        # wayland session manager
          - qt5-wayland
          - qt6-wayland
          - polkit-kde-agent
          - hyprland
          - hyprpaper
          - hyprlock
          - hypridle
          - xdg-desktop-portal-hyprland
          - dunst  # notifications
          - grim   # screenshots
          - slurp  # select area of screen
          - waybar # status bar
          - gnome-keyring
          - brightnessctl
          - nautilus # file browser
          - wofi     # app launcher (for wayland)
          - eog      # image viewer
          - bluez    # bluetooth
          - discord
          - gwenview # cropping images
          - blueman  # bluetooth gui and applet

    # TODO install from AUR: python-pywal brave-bin bash-complete-alias

    - name: discord | Add Ozone Flags
      become: true
      ansible.builtin.lineinfile:
        path: /opt/discord/discord.desktop
        regexp: '^Exec=/usr/bin/discord'
        line: 'Exec=/usr/bin/discord --enable-features=UseOzonePlatform --ozone-platform=wayland'
        #validate: desktop-file-validate %s
        owner: root
        group: root
