# TODO:
#   - Download iwlwifi-QuZ-a0-hr-b0-77.ucode from https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/intel/iwlwifi
#     and place it in /usr/lib/firmware
#   - add Heroic Games Launcher (https://heroicgameslauncher.com/downloads) https://github.com/Heroic-Games-Launcher/HeroicGamesLauncher/releases/download/v2.18.1/Heroic-2.18.1-linux-amd64.deb

- name: Setup "cascadia" Laptop
  hosts: localhost
  become: false
  become_method: ansible.builtin.sudo

  roles:
    - debian-cleanup
    - backup
    - role: fastfetch
      version: 2.44.0
    - role: nerdfont
      font: Lilex
      version: 3.4.0
    - role: nerdfont
      font: JetBrainsMono
      version: 3.4.0

  tasks:
    - name: Packages
      become: true
      ansible.builtin.package:
        state: present
        name:
          # System
          - curl
          - wget
          - zip
          - nmap
          - vim
          - ncal
          - bind9-dnsutils
          - smbclient
          - systemd-timesyncd
          - powertop # power usage tuning

          # Desktop
          - xorg
          - dbus-x11
          - i3-wm
          - picom
          - pipewire
          - pipewire-audio
          - pavucontrol
          - blueman
          - xss-lock
          - brightnessctl
          - polybar    # status bar
          - physlock   # lockscreen (alt. xsecurelock)
          #- xtrlock
          - feh        # image view and wallpaper setter
          - rofi       # app runner
          - pamixer    # audio controls
          - fonts-noto # fix emojis
          - firefox-esr
          - evince
          - xclip
          - ffmpeg
          - cava    # dumb audio visualization
          - eog     # nicer image viewer
          - foliate # ebook reader
          - vlc
          - vlc-plugin-pipewire
          - vlc-plugin-samba
          - thunar-volman
          - system-config-printer # printer GUI

          # Dev
          - python3
          - python3-pip
          - ansible-lint
          - pkg-config
          - cmake
          - apt-file # find the package file belongs to
          - awscli

          # QEMU
          - qemu-system
          - qemu-utils
          - qemu-kvm
          - libvirt-clients
          - libvirt-daemon-system
          - bridge-utils
          - virtinst
          - libvirt-daemon
          - virt-manager

          # Dev Build Deps
          - python3-venv
          - libssl-dev         # for building python
          - libffi-dev         # for building python
          - libncurses-dev     # for building python
          - libgdbm-dev        # for building python
          - libgdbm-compat-dev # for building python
          - liblzma-dev        # for building python
          - tk-dev             # for building python
          - uuid-dev           # for building python
          - libbz2-dev         # for building python
          - libzstd-dev        # for building python
          - libreadline-dev    # for building python
          - libsqlite3-dev     # for building python

          # build deps (chatterino)
          #- qt6-base-dev
          #- qt6-5compat-dev
          #- qt6-svg-dev
          #- qt6-image-formats-plugins
          #- libboost1.81-dev
          #- libnotify-dev
          #- libssl-dev

    - name: Removed Packages
      become: true
      ansible.builtin.package:
        state: absent
        name:
          - i3blocks # old status bar
          - xterm
          - w3m-img
          - w3m
          - chafa
          - jp2a
          - caca-utils
          - chromium
          - zathura    # document viewer
          # dev libraries
          #- libxkbcommon-dev   # from alacritty
          #- libfontconfig1-dev # from alacritty
          #- libxcb-xfixes0-dev
          #- libxcb-xkb-dev
          #- libxcb1-dev

    - name: Remove dependencies that are no longer required
      become: true
      ansible.builtin.apt:
        autoremove: true
        purge: true

    - name: Enable powertop unit
      become: true
      ansible.builtin.systemd_service:
        name: powertop.service
        scope: system
        enabled: true
    - name: Install Python Packages
      ansible.builtin.pip:
        name:
          - stig[setproctitle,proxy]
          - yt-dlp[default,curl-cffi]
        state: present
        virtualenv: '~/.local/share/venv'

# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/playbook
