- name: Setup Laptop
  hosts: localhost
  become: false
  become_method: ansible.builtin.sudo

  roles:
    - backup

  tasks:
    - name: Packages
      ansible.builtin.package:
        name:
          - apt-file # find the package the owns a file (apt-file search)
          - python3-venv
          - xclip
          - ffmpeg
          - gnome-shell-extension-manager
        state: present

    - name: Use ping without sudo (setcap cap_net_raw+p)
      community.general.capabilities:
        capability: cap_net_raw+p
        path: /bin/ping
        state: present
      become: true

    - name: Python Virtual Env
      ansible.builtin.command:
        cmd: python3 -m venv {{ ansible_facts.user_dir }}/.local/share/venv
        creates: '{{ ansible_facts.user_dir }}/.local/share/venv/pyvenv.cfg'
    - name: Install Pip Utilities
      ansible.builtin.pip:
        name:
          - gpustat
          - yt-dlp[default,curl-cffi]
          - stig[setproctitle,proxy]
          - gallery-dl
        state: present
        virtualenv: '{{ ansible_facts.user_dir }}/.local/share/venv'

# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/playbook
