[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec={{ postman_dst.dest }}/Postman/app/Postman %U
Icon={{ postman_dst.dest }}/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
