[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp Messenger
# Only works with chromium browsers
Exec=x-www-browser --app="https://web.whatsapp.com" --name=WhatsApp --class=Whatsapp
Terminal=false
Type=Application
Icon=whatsapp
# https://specifications.freedesktop.org/menu-spec/latest/category-registry.html
Categories=Network;GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
